
/* ========================================================= */

  

  /* .about_container section.aboutHeder {
    margin-bottom: 2em;
  } */
  
  /* ========================================================= */
  /* Portfolio */
  
  .portfolio-container {
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  section .wrapper {
  
  }
  section .wrapper ul li#h-line {
    margin-bottom: 1.5rem;
    /* padding-left: .8rem; */
    /* border-left: var(--dark-color) solid .1rem; */
    /* border-bottom: var(--dark-color) solid .1rem; */
    /* border-radius: 1rem; */
  }
  section .wrapper ul li h2 span {
    margin-right: .2rem;
  }
  section .wrapper ul li p {
    text-align: justify;
    padding: 1rem;
  }
  section .wrapper ul li ul {
    padding: .5rem;
  }
  section .wrapper ul li ul h3 {
    /* color: blue; */
    margin-bottom: .5rem;
  }
  section .wrapper ul li ul li{
    margin-left: 1.5rem;
    list-style-type: disc;
    /* padding: .4rem; */
  }


