/* header {
    position: fixed;
    background-color: #646cff;
    top: 0;
    width: 100%;
} */

nav {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 9999;
}
nav .menu {
  /* display: none; */
  position: relative;

  transition: all 1s ease-in-out;
}
nav .menu.active {
  /* display: block; */
}

nav ul {
  position: absolute;
  top: 1rem;
  right: 0;
  padding: 0.5rem;
  /* width: 150px; */
  color: #213547;
  background-color: #ffffff;
  /* backdrop-filter: ; */
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgb(33, 53, 71, 0.25);
  /* transition: all 1s ease-in-out; */
}

nav ul li {
  list-style-type: none;
  /* background-color: aqua; */
}
nav ul li a {
  padding: 1rem 0.5rem;
  margin-right: 2.5rem;
  display: block;
  font-weight: 500;
  color: #646cff;
  display: flex;
  align-items: center;

  text-decoration: inherit;
  transition: 0.1s all ease;
  /* border-bottom: transparent .2rem solid; */
}
nav ul li a span {
  position: relative;
}
nav ul li a span:hover::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  right: -1.2rem;
  top: 35%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;

  /* animation: rotate_icon 0.5s infinite linear; */
}

@keyframes rotate_icon {
  100% {
    transform: rotate(360deg);
  }
}

nav ul li a:hover {
  color: #535bf2;
  transform: translateX(0.5rem);
  /* border-bottom: #646cff .2rem solid; */
}
nav ul li a.active {
  color: #535bf2;
  text-decoration: underline;
}
nav ul li a #icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

nav button#nav-btn {
  cursor: pointer;
  padding: 0.5rem;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  color: #ffffff;
  background: #535bf2;
  border-radius: 0.5rem;
}

nav button#nav-btn:focus {
  outline: rgb(100, 108, 255, 0.5) 0.3rem solid;
}
